{% set LIMIT_MENU = 8 %}

<nav class="nav navbar navbar-expand-md bg-green ">

	<div class="container-fluid p-0">

		<ul class="navbar-nav text-center align-items-center ">

			{% for i in range(0, LIMIT_MENU-1) %}

				<li class="subject-menu col-2 me-3 nav-item">
					{% if idSubjectSelected == subjects[i].id %}
						<a class="nav-link fs-6 bg-clair text-color-green" href="/notion/list?id_subject={{ subjects[i].id }}">{{ subjects[i].name }}</a>
					{% else %}
						<a class="bg-green text-color-clair nav-link fs-6" href="/notion/list?id_subject={{ subjects[i].id }}">{{ subjects[i].name }}</a>
					{% endif %}
				</li>
			{% endfor %}

			{% if subjects|length > LIMIT_MENU %}

				<li class="nav-item dropdown me-5">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
						<span class="bg-clair navbar-toggler-icon"></span>
					</a>

					<ul class="dropdown-menu bg-green">
						{% for i in range(LIMIT_MENU, subjects|length) %}
							<li>
								<a class="menu-item text-color-clair nav-link fs-6" href="/notion/list?id_subject={{ subjects[i].id }}">{{ subjects[i].name }}</a>
							</li>

						{% endfor %}

					</ul>
				</li>

			{% endif %}

		</ul>
	</div>
</nav>
